@import 'variables';

.sidebar {
  height: 100vh;
  width: 100px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 12px 0;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background: $white;
  // box-shadow: 0px 1px 3px -1px rgba($color: $black, $alpha: 0.08), 0px 3px 1px -1px rgba($color: $black, $alpha: 0.01);
  z-index: 7;


  @media (max-width: 991px) {
    z-index: 50;
  }

  @media (max-width: 767px) {
    height: calc(100vh - 68px);
    top: 68px;
  }

  .sidebarContent {
    width: 100%;
    margin-bottom: 30px;
  }

  .sidebarNavigation {
    position: relative;
    margin: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    .dropdownBtn,
    .dropdownBtnActive {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: transparent;
      border: 0;
      border-radius: 0;
      color: $black;
      text-align: center;
      border-radius: 2px;
      row-gap: 10px;
      padding: 10px 5px;
      color: rgb(33, 33, 33);
      transition: 0.4s all ease;

      &:hover {
        color: #212121;
        background: #f5f5f5;

        svg {
          color: #212121;
        }
      }

      svg {
        color: rgba(33,33,33,.6);
        font-size: 20px;
        line-height: 1;
        transition: 0.4s all ease;
      }

      span {
        font-size: 12px;
        line-height: 15.6px;
        color: rgb(33, 33, 33);
      }

      .navLinkFilter, 
      .navLinkFilterActive {
        font-size: 10px;
        line-height: 26px;
        padding: 0 10px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        border-radius: 100px;
        background-color: rgba($color: $black, $alpha: 0.05);
        color: #212121;
        border: 1px solid transparent;
        font-weight: 400;

        svg {
          font-size: 12px;
          line-height: 1;
          color: #212121 !important;
          margin-left: 4px;
          margin-top: -1px;
        }
      }

      .navLinkFilterActive  {
        border-color: #2d72b9;
        color: #2d72b9 !important;
        font-weight: 500;
        background: rgba(45, 114, 185, 0.08);

        svg {
          color: #2d72b9 !important;
        }
      }
    }

    .dropdownBtnActive {
      background: rgba(0,0,0,.07) !important ;
      color: #2d72b9 !important;

      span {
        color: #2d72b9 !important;
      }

      svg {
        color: #2d72b9 !important;
      }
    }

    .dropdownMenu {
      position: absolute !important;
      background: rgba(255, 255, 255, 0.99);
      border-radius: 0;
      transform: unset !important;
      border: 0;
      top: 0;
      box-shadow:  0px 0px 20px 0px rgba($color: $black, $alpha: 0.25),2px 2px 4px 0px rgba($color: $black, $alpha: 0.12);
      left: 112px;
      min-width: 227px;
      height: fit-content;
      max-height: 350px;
      overflow-x: hidden;
      padding: 6px 0;

      a {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        background: transparent;
        position: relative;
        border-radius: 2px;
        margin: 4px 0;
        color: #212121;
        
        &.active {
          background: transparent !important;
          transition: 0.4s all ease;

          svg {
            color: #2d72b9 !important;

            path {
              stroke: #2d72b9 !important;
            }

            &:last-child {
              color: rgba(33, 33, 33, 0.6);
            }
          }

          span {
            color: #2d72b9 !important;
          }
        }

        &:hover {
          background: #f5f5f5;
          color: #212121;
        }
  
        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 1.25;
          display: flex;
          align-items: center;  
          padding-left: 5px;
          width: calc(100% - 18px);
        }
  
        svg {
          color: #212121 !important;
          font-size: 18px;

          path {
            stroke: #212121 !important;
          }
        }
      }
    }
  }
}